.mask {
    width: 100%;
    height: 100vh;
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

/*
.memeimg{
    width: 50%;
    height: 50%;
    background-position: center;
}
*/

.mask::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1b1b1b;
    opacity: 0.8;
}

.bg-image {
    height: 100%;
    width: 100%;
}

.bg-image .content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;

}

.bg-image h1 {
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
    margin-bottom: 3rem;
}

.bg-image .content p {
    font-size: 2rem;
    font-weight: 200;
}

.content .btn {
    margin: 1rem 0.5rem;
}

.ajname {
    font-size: 2.5rem;
    font-weight: 500;
}

.type-writer-text {
    color: #8685ef;
    text-decoration: underline;
}

@media screen and (max-width:640px) {
    .bg-image h1 {
        font-size: 2rem;
        overflow-wrap: break-word;
        margin-bottom: 3rem;
    }

    .bg-image .content p {
        font-size: 1rem;
    }
}